<!DOCTYPE html>
<html lang="en">
  <!-- Head section -->
  <%- include('../includes/head.ejs') %>

  <body>
    <!-- Header/Navigation section -->
    <%- include('../includes/navigation.ejs') %>
  </body>
</html>
